* {
    font-family: 'Inconsolata', monospace;
}

.brand-area {
    margin-top: 40px;
    text-align: center;
}

.brand-area img {
    width: 120px;
    height: auto;
}

#clear-all-jobs {
    border: none;
    background: none;
    color: #c11411;
    outline: none;
}